<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:std="http://www.orchome.com/schema/std/ws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.orchome.com/schema/std/ws
        http://www.orchome.com/schema/std/ws/stdws-1.0.xsd">

    <std:annotation-endpoint package="com.system.annotation.service"/>
</beans>